<configuration>

    <property name="LOG_DIR" value="/data/data/com.rorlig.android.logbackdemo/files/log/" />

    <!-- Create a file appender for DEBUG-level messages -->

    <!-- Create a logcat appender -->
    <appender name="logcat" class="ch.qos.logback.classic.android.LogcatAppender">
        <encoder>
            <pattern>%msg</pattern>
        </encoder>
    </appender>





    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--<file>${LOG_DIR}/logFile.log</file>-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
             <!--daily rollover-->
            <fileNamePattern>${LOG_DIR}/logFile.%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- hourly -->
            <!--<fileNamePattern>${LOG_DIR}/logFile.%d{yyyy-MM-dd_HH}.log</fileNamePattern>-->

            <!-- every minute -->
            <!--<fileNamePattern>${LOG_DIR}/logFile.%d{yyyy-MM-dd_HH-mm}.log</fileNamePattern>-->

            <!-- every second -->
            <!--<fileNamePattern>${LOG_DIR}/logFile.%d{yyyy-MM-dd_HH-mm-ss}.log</fileNamePattern>-->


            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="FILE" />
    </root>

    <!-- Write INFO (and higher-level) messages to the log file -->
    <root level="DEBUG">
        <appender-ref ref="logcat" />
    </root>
</configuration>